@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.city-input-container {
    width: 90%;
    background-color: #fff;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    gap: 30px;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    @include font-400;
    color: $color;
    height: 38px;

    .select {
        width: 30%;
    }

    p {
        line-height: 38px;
        font-size: 1.1rem;
    }

    .geolocation-on {
        text-decoration: underline;
        color: $color-dark;
        margin-left: 5px;
    }

    .geolocation-on:hover {
        cursor: pointer;
        color: $color-light;
    }

}